html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border-width: 5px;
  border-style: dashed;
  border-color: #6a4f29;
}

body {
  background-color: darkcyan;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: lightblue;
}
